@use "../../assets/scss/variables" as *;

.navigation {
  background-color: var(--elements);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px;
  box-shadow: var(--box-shadow);
  border-radius: 0 0 5px 5px;

  h1 {
    font-size: 0.85em;
  }

  p {
    font-size: 12px;
  }
}

.mode-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .navigation {
    h1 {
      font-size: 1.17em;
    }

    p {
      font-size: 16px;
    }
  }
}
